node_modules/
.project_id
.github_repo
.env
.env.*
ports/dreamcast/*.elf
ports/dreamcast/*.cdi
ports/dreamcast/src/*.o
ports/dreamcast/src/sprites.h
ports/dreamcast/tools/placeholder_sprites/
tools/__pycache__/
ports/dreamcast/tools/__pycache__/
backups/**/*.tar.gz
